node_modules/
dist/
coverage/
.env
.env.*
!.env.example
env/.env.*
!env/.env.*.example
appPackage/build/
.localConfigs*
.deployment/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
*.log
.DS_Store
